<!-- Loop through posts -->
{{#each posts}}
    {{log posts}}
<div class="card text-center">
  <div class="card-header">
    {{title}}
  </div>
  <div class="card-body">
    <p class="card-text">{{post_text}}</p>
    <a href="/dashboard/post/{{id}}">options</a>
  </div>
  <div class="card-footer text-muted">
    <p class="card-text">
          <!-- Display post creator and creation date -->
          <strong>Created by:</strong> {{user.username}}
          <strong>Created on:</strong> {{format_date createdAt}}
        </p>
  </div>
</div>
{{/each}}

<button type="button" class="btn btn-dark" id="btn-create" onclick="showCreateForm()">+ Add new Post</button>

<!-- Form for creating a new post -->

<form class=" new-post" style="display:none" id="createNew">
  <div class="card">
    <div class="card-header blog-bg text-light">
      <h2 class="card-title text-center">Create a new post</h2>
    </div>

    <div class="form-group px-3">
      <label for="post-title">Post Title:</label>
      <input type="text" class="form-control" id="post-title" placeholder="Enter post title" />
    </div>

    <div class="form-group px-3">
      <label for="post-body">Post:</label>
      <textarea type="text" class="form-control" id="post-body" placeholder="Enter new post"></textarea>
    </div>
  </div>

  <div class="text-center">
    <button type="submit" class="btn btn-dark">Submit</button>
  </div>
</form>


<!-- Include JavaScript for handling new post submission -->
<script src="/js/new-post.js"></script>