
<div class="card text-center">
  <div class="card-header">
    {{post.title}}
  </div>
  <div class="card-body">
    <!-- Link to post -->
    <p class="card-text">{{post.post_text}}</p>
  </div>
  <div class="card-footer text-muted">
    <p class="card-text">
      <!-- Display post creator and creation date -->
      <strong>Created by:</strong> {{post.user.username}}
      <strong>Created on:</strong> {{format_date post.createdAt}}
    </p>
  </div>
</div>


  <h3 class="text-center">Comments</h3>
 
    <!-- Comments -->
   
      {{#each post.comments}}
      <div class="card text-center">
        <div class="card-header">
          {{this.user.username}}
        </div>
        <div class="card-body">
          <p class="card-text">{{this.comment_text}}</p>
        </div>
        <div class="card-footer">
          <p><strong>Created on: </strong>{{format_date createdAt}}</p>
        </div>
      </div>



      {{/each}}
    </div>

    <!-- Comment Form Column -->
    {{!-- <div class="col-md-6"> --}}
      <div class="card text-center">
        <div class="card-header-lc">
          <h4>Leave your comment here</h3>
        </div>
        <div class="card-body">
          <textarea id="comment-content" class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
          <button class="btn btn-dark mt-4" data-id="{{post.id}}" id="submit-comment">Submit</button>
        </div>
      </div>
    </div>

  </div>
</div>


<script src="/js/comment.js"></script>